body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #0e0e0e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  height: 70px;
  /* background-color: #242526!important; */
}

.error{
  text-align: center;
  color:red
}

/* Profile */



.profile_container{
  display: flex;
  align-items: center;
}

.img_container{
  position: relative;
  margin-right: 20px;
}

.img_container img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(34, 34, 34);
  transition:0.5s ease-in-out all;
}

.img_container::hover img{
  opacity: 0.8;
}

.image_container::hover .overlay{
  opacity: 1;
}

.overlay{
  transition: 0.5s ease;
  opacity: 0.3;
  position: absolute;
  top: 58%;
  left:51%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text_container{
  flex-grow: 1;
}

.text_container h3{
  text-align: left;
}


.home_container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: 91vh;
  width: 100vw;
}

.users_container{
  background-color: rgb(31, 32, 32);
  margin-top: 10px;
  border-right: 1px solid rgb(61, 60, 60);
  overflow-y: auto;
}

.user_wrapper{
  margin-bottom: 10px;
  padding: 10px;
  cursor:pointer;
  border-bottom: 1px solid rgb(61, 60, 60);
}

.user_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_detail{
  display: flex;
  align-items: center;
}

.user_detail h4{
  margin-left: 10px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(133, 133, 129);
}

.user_status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online{
  background-color: greenyellow;
}


.offline{
  background-color: red;
}

.messages_container{
  position: relative;
  width: 100%;
}

.messages_user{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(61, 60, 60);
}

.no_conv{
  margin-top:10px ;
  font-size: 20px;
  color:rgb(124, 126, 126);
  text-align: center;
}

.message_form{
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center; 
}

.message_form input{
  width: 40vw;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.message_form .btn{
  margin-top: -10px;
}
.messages{
  height: 75vh;
  overflow-y: auto;
  border-bottom: 1px solid rgb(61, 60, 60);
}

.message_wrapper{
  margin-top: 5px;
  padding:0px 5px;
}

.message_wrapper img{
  width: 100%;
  border-radius: 5px;
}

.message_wrapper p{
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 5px;
}

.message_wrapper small{
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}

.message_wrapper .own{
  text-align: left;
}

.me{
  background: rgb(7, 107, 107);
  color: white;
}

.friend{
  background: rgb(38, 38, 45);
}

.custom-scrollbar-css {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(54, 52, 52);
}

::-webkit-scrollbar-thumb {
  background-color: #778184;
}

.selected_user{
  background: rgb(50, 50, 50);
}

.truncate{
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate strong{
  margin-right: 10px;
}

.unread{
  margin-left: 10px;
  background: rgb(91, 91, 137);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.sm_screen{display: none;}

@media screen and (max-width:767px)
{
  .home_container{
  grid-template-columns:2fr 3fr;
  }
  .message_form{
    left: 3%;
    right: 0;
  }
  .message_wrapper{
    max-width: 75%;
  }
}
  

@media screen and (max-width:576px)
{
  .home_container{
  grid-template-columns:1fr 5fr;
  }

  .user_wrapper{
    display: none;
  }
  .sm_container{
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen{
    display: inline-block;
  }
  .message_form input{
    width: 50vw;
    margin: 0px 10px;
  }
  .message_form .btn{
    margin-top: 0;
  }
  .message_wrapper{
    max-width: 100%;
  }
}
  